/* my palette ------------------------------------------------------------------
----------------------------------------------------------------------------- */

/*noinspection DuplicatedCode*/
:root {
  --custom-color-gradient-transparency: transparent;

  --custom-color-glass: rgb(15, 14, 21, 0.8);
  --custom-color-glass-blur: 16px;

  --custom-color-white: #c3c3ce;
  --custom-color-gray: #808091;
  --custom-color-primary: #ff6159;
  --custom-color-primary-dark: #672b2b;
  --custom-color-secondary: #29ffff;
  --custom-color-tertiary: #ffd141;

  --custom-color-quote: #3ecd75;
  --custom-color-code: #a23ac2;
  --custom-color-bold: #f5932d;

  --custom-color-gradient-high: #200e16;
  --custom-color-gradient-mid: #130e16;
  --custom-color-gradient-low: #0a0d14;
}

/* theme overrides  ------------------------------------------------------------
----------------------------------------------------------------------------- */

/*noinspection DuplicatedCode*/
[data-md-color-scheme="slate"] {
  background-color: #130e16;
  background-image: url(./bg-pattern.svg),
    linear-gradient(
      180deg,
      var(--custom-color-gradient-high),
      var(--custom-color-gradient-mid),
      var(--custom-color-gradient-low)
    );
  background-attachment: fixed;

  /* Typeset */
  --md-typeset-color: var(--custom-color-white) !important;
  --md-typeset-a-color: var(--custom-color-primary) !important;
  --md-typeset-table-color: var(--custom-color-gradient-mid) !important;

  /* Defaults */
  --md-default-bg-color: var(--custom-color-gradient-mid);

  /* Primary color shades */
  --md-primary-fg-color: var(--custom-color-gradient-mid);
  --md-primary-fg-color--light: #861f4194;
  --md-primary-fg-color--dark: #ac325a;
  --md-primary-bg-color: #ff6159;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-text-link-color: hsla(231, 48%, 48%, 1);

  /* Accent color shades */
  --md-accent-fg-color: var(--custom-color-tertiary);
  --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* Code block color shades */
  --md-code-bg-color: var(--custom-color-gradient-mid);
  --md-code-fg-color: var(--custom-color-code);

  /* Footer */
  --md-footer-bg-color: #861f41;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

/* element overrides  ----------------------------------------------------------
----------------------------------------------------------------------------- */

/* typography */

html {
  /*font-size: 24px !important;*/
  /*letter-spacing: 0.03rem;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--custom-color-secondary) !important;
  font-weight: bolder !important;
}
h1 {
  border-bottom: 4px solid var(--custom-color-primary-dark);
}
h2 {
  border-bottom: 2px solid var(--custom-color-primary-dark);
}
h3 {
  border-bottom: 1px solid var(--custom-color-primary-dark);
  border-image: linear-gradient(
      to right,
      var(--custom-color-primary-dark),
      var(--custom-color-primary-dark),
      var(--custom-color-primary-dark),
      transparent,
      transparent
    )
    1;
}

h5,
h6 {
  font-weight: normal !important;
  text-transform: none !important;
}

h1 {
  text-transform: uppercase;
}

br {
  clear: both;
}

strong {
  color: var(--custom-color-bold);
  font-weight: normal;
}

p > em:only-child {
  color: var(--custom-color-gray);
}

blockquote {
  position: relative;
  border-left: 4px solid var(--custom-color-quote) !important;
  color: var(--custom-color-quote) !important;
}
blockquote p {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
/* also add quote icon as pseudo element */
blockquote p::before {
  font:
    1rem "Times New Roman",
    Times,
    serif;
  justify-self: flex-start;
  align-self: flex-start;
  content: open-quote;
  transform: scale(2.5) translateY(0.15rem);
  color: var(--custom-color-quote);
}
blockquote p::after {
  font:
    1rem "Times New Roman",
    Times,
    serif;
  justify-self: flex-end;
  align-self: flex-end;
  content: close-quote;
  transform: scale(2.5) translateY(0.15rem);
  color: var(--custom-color-quote);
}

code {
  border: 1px solid var(--custom-color-code);
}

/* sections */
header {
}
.md-tabs {
  background: none !important;
  border: 0 !important;
}
body:not([data-md-scrolllock]) .md-header {
  /* make background transparent but blur */
  background: var(--custom-color-glass) !important;
  backdrop-filter: blur(var(--custom-color-glass-blur)) !important;
}
.md-header__topic {
  text-transform: uppercase !important;
  font-weight: bolder !important;
}
.md-header--shadow {
  border-bottom: 2px solid var(--custom-color-primary-dark);
}

/* tables */
/* any thead that doesn't have text content should be hidden */
table {
  background-color: transparent !important;
}
.md-typeset table {
  font-size: 0.8rem !important;
}
thead {
  display: none;
}
thead:has(th:not(:empty)) {
  display: table-header-group;
}
table code {
  white-space: nowrap;
}

/* links */
.md-nav label.md-nav__link,
.md-nav .md-nav__title {
  background: none !important;
  color: var(--custom-color-primary-dark) !important;
  text-transform: uppercase;
}
.md-nav__item {
  border-top: 0 !important;
}

@media screen and (max-width: 1219px) {
  .md-nav label.md-nav__link,
  .md-nav .md-nav__title {
    color: var(--custom-color-primary) !important;
  }
  .md-nav--primary .md-nav .md-nav__title {
    color: var(--custom-color-secondary) !important;
    border-bottom: 2px solid var(--custom-color-primary-dark) !important;
  }
}

label.md-nav__title {
  color: var(--custom-color-secondary) !important;
}

.md-nav label {
  text-transform: uppercase;
  color: var(--custom-color-primary) !important;
  box-shadow: none !important;
  background: none !important;
}
.md-nav label:hover {
  text-transform: uppercase;
  color: var(--custom-color-tertiary) !important;
  box-shadow: none !important;
  background: none !important;
}
.md-nav__link {
  box-shadow: none !important;
  background: none !important;
}
.md-nav__item a.md-nav__link--passed {
  color: var(--custom-color-primary-dark) !important;
}

article a {
  text-transform: uppercase;
}

.md-nav__item a,
.md-tabs__item.md-tabs__item a {
  color: var(--custom-color-primary) !important;
  text-transform: uppercase;
  opacity: 1;
}
.md-nav__item a:hover,
.md-tabs__item.md-tabs__item a:hover {
  color: var(--custom-color-tertiary) !important;
}
.md-nav__item a.md-nav__link--active,
.md-tabs__item.md-tabs__item--active a {
  color: var(--custom-color-secondary) !important;
}

[data-md-type="toc"] li.md-nav__item span {
  text-transform: none !important;
}

/* media */
article img:not(.no-border) {
  border: 2px solid var(--custom-color-primary-dark);
}
article a img:not(.no-border) {
  border: 2px solid var(--custom-color-primary-dark);
}
article a:hover img:not(.no-border) {
  border: 2px solid var(--custom-color-tertiary);
}
article svg {
  width: 25px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

/* misc */

li::marker {
  color: var(--custom-color-bold);
}

.md-footer-meta {
  background-color: var(--custom-color-gradient-transparency);
}
.md-footer {
  background-color: var(--custom-color-glass);
  backdrop-filter: blur(var(--custom-color-glass-blur));
  border-top: 2px solid var(--custom-color-primary-dark);
}

/* github links */
.md-nav__source {
  background: none;
}

.md-nav__source {
  border: 0 !important;
}
.md-source__facts {
  display: none;
}
.md-nav--primary .md-nav__title ~ .md-nav__list {
  box-shadow: none !important;
}
a.md-source {
  color: var(--custom-color-tertiary) !important;
  opacity: 1 !important;
}
a.md-source:hover {
  color: var(--custom-color-white) !important;
  opacity: 1 !important;
}
.md-nav__source,
.md-header__source {
  display: none !important;
}

.md-copyright {
  color: var(--custom-color-white) !important;
}
.md-copyright a,
.md-social a {
  color: var(--custom-color-primary) !important;
}
.md-copyright a:hover,
.md-social a:hover {
  color: var(--custom-color-tertiary) !important;
}
.md-search__input {
  color: var(--custom-color-secondary) !important;
}
.md-search__input::placeholder {
  color: var(--custom-color-primary-dark) !important;
}
