/* my palette ------------------------------------------------------------------
----------------------------------------------------------------------------- */

/*noinspection DuplicatedCode*/
:root {
  --custom-color-gradient-transparency: transparent;

  --custom-color-glass: rgb(15, 14, 21, 0.8);
  --custom-color-glass-blur: 16px;

  --custom-color-white: #c3c3ce;
  --custom-color-gray: #808091;
  --custom-color-primary: #ff6159;
  --custom-color-primary-dark: #672b2b;
  --custom-color-primary-disabled: rgb(64, 40, 52);
  --custom-color-secondary: rgb(41, 255, 255);
  --custom-color-secondary-dark: rgba(41, 255, 255, 0.1);
  --custom-color-tertiary: #ffd141;
  --custom-the-color: rgba(255, 6, 181, 1);

  --custom-color-quote: #3ecd75;
  --custom-color-code: #a23ac2;
  --custom-color-bold: #f5932d;

  --custom-color-gradient-high: #200e16;
  --custom-color-gradient-mid: #130e16;
  --custom-color-gradient-low: #0a0d14;

  --custom-widget-background-color: rgba(0, 0, 0, 0.2);

  --custom-chip-size: 1rem;
  --custom-chip-border-size: 1px;
  --custom-chip-color: var(--custom-color-gradient-transparency);
  --custom-chip-color-hover: var(--custom-color-gradient-transparency);
  --custom-chip-transition: all 0.2s;
  --custom-chip-transform: scale(1);
  --custom-chip-trannsform-odd: scale(1);
  --custom-chip-filter: none;
  --custom-chip-filter-after: brightness(1.25);
  --custom-chip-clip-inner: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(var(--custom-chip-size) + var(--custom-chip-border-size) + 1px) 100%,
    0
      calc(
        100% - var(--custom-chip-size) - var(--custom-chip-border-size) - 1px
      )
  );
  --custom-chip-clip-outter: polygon(
    0 0,
    100% 0,
    100% 100%,
    var(--custom-chip-size) 100%,
    0 calc(100% - var(--custom-chip-size))
  );
}

/* theme overrides  ------------------------------------------------------------
----------------------------------------------------------------------------- */

/*noinspection DuplicatedCode*/
[data-md-color-scheme="slate"] {
  background-color: #130e16;
  background-image: url(./bg-pattern.svg),
    linear-gradient(
      180deg,
      var(--custom-color-gradient-high),
      var(--custom-color-gradient-mid),
      var(--custom-color-gradient-low)
    );
  background-attachment: fixed;

  /* Typeset */
  --md-typeset-color: var(--custom-color-white) !important;
  --md-typeset-a-color: var(--custom-color-primary) !important;
  --md-typeset-table-color: var(--custom-color-gradient-mid) !important;

  /* Defaults */
  --md-default-bg-color: var(--custom-color-gradient-mid);

  /* Primary color shades */
  --md-primary-fg-color: var(--custom-color-gradient-mid);
  --md-primary-fg-color--light: #861f4194;
  --md-primary-fg-color--dark: #ac325a;
  --md-primary-bg-color: #ff6159;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-text-link-color: hsla(231, 48%, 48%, 1);

  /* Accent color shades */
  --md-accent-fg-color: var(--custom-color-tertiary);
  --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* Code block color shades */
  --md-code-bg-color: var(--custom-color-gradient-mid);
  --md-code-fg-color: var(--custom-color-code);

  /* Footer */
  --md-footer-bg-color: #861f41;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

/* element overrides  ----------------------------------------------------------
----------------------------------------------------------------------------- */

/* typography */

html {
  /*font-size: 24px !important;*/
  /*letter-spacing: 0.03rem;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--custom-color-secondary) !important;
  font-weight: bolder !important;
  clear: both;
}
h1 {
  border-bottom: 4px solid var(--custom-color-primary-dark);
}
h2 {
  display: flex;
  flex-direction: row;
  margin-top: 6rem !important;
  border-bottom: 2px solid var(--custom-color-primary-dark);
}
h2:before {
  /* use an svg of a page */
  content: url(header-icon.svg);
  margin-right: 0.25rem;
  width: 1.1rem;
  position: relative;
  top: 0.15rem;
}
h3 {
  border-bottom: 1px solid var(--custom-color-primary-dark);
  border-image: linear-gradient(
      to right,
      var(--custom-color-primary-dark),
      var(--custom-color-primary-dark),
      var(--custom-color-primary-dark),
      transparent,
      transparent
    )
    1;
}

h5,
h6 {
  font-weight: normal !important;
  text-transform: none !important;
}

h1 {
  text-transform: uppercase;
}

br {
  clear: both;
}

strong {
  color: var(--custom-color-bold);
  font-weight: normal;
}

p > em:only-child {
  color: var(--custom-color-gray);
}

blockquote {
  clear: both;
  position: relative;
  border-left: 4px solid var(--custom-color-quote) !important;
  color: var(--custom-color-quote) !important;
}
blockquote p {
  margin-left: 0.5rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
/* also add quote icon as pseudo element */
blockquote p::before {
  font:
    1rem "Times New Roman",
    Times,
    serif;
  justify-self: flex-start;
  align-self: flex-start;
  content: open-quote;
  transform: scale(2.5) translateY(0.15rem);
  color: var(--custom-color-quote);
}
blockquote p::after {
  font:
    1rem "Times New Roman",
    Times,
    serif;
  justify-self: flex-end;
  align-self: flex-end;
  content: close-quote;
  transform: scale(2.5) translateY(0.15rem);
  color: var(--custom-color-quote);
}
blockquote + ul:has(li:only-child) {
  background: none !important;
  margin-left: 0 !important;
  margin-right: 2.5rem !important;
  margin-top: -1rem !important;
  border-left: 4px solid var(--custom-color-quote) !important;
}
blockquote + ul li:only-child {
  color: var(--custom-color-quote);
  padding-left: 0.5rem;
  width: fit-content !important;
  margin-left: 3rem !important;
  padding-top: 0.5rem;
  font-style: italic;
  opacity: 0.55;
}
blockquote + ul li:only-child::marker {
  content: "—";
  margin-right: 1rem;
  color: var(--custom-color-quote);
  opacity: 0.55;
}

code {
  border: 1px solid var(--custom-color-code);
}

/* sections */
header {
}
.md-tabs {
  background: none !important;
  border: 0 !important;
}
body:not([data-md-scrolllock]) .md-header {
  /* make background transparent but blur */
  background: var(--custom-color-glass) !important;
  backdrop-filter: blur(var(--custom-color-glass-blur)) !important;
}
.md-header__topic {
  text-transform: uppercase !important;
  font-weight: bolder !important;
}
.md-header--shadow {
  border-bottom: 2px solid var(--custom-color-primary-dark);
}

/* tables */
/* any thead that doesn't have text content should be hidden */
table {
  background-color: transparent !important;
}
.md-typeset table {
  font-size: 0.8rem !important;
}
thead {
  display: none;
}
thead:has(th:not(:empty)) {
  display: table-header-group;
}
table code {
  white-space: nowrap;
}

/* links */
.md-nav label.md-nav__link,
.md-nav .md-nav__title {
  background: none !important;
  color: var(--custom-color-primary-dark) !important;
  text-transform: uppercase;
}
.md-nav__item {
  border-top: 0 !important;
}

@media screen and (max-width: 1219px) {
  .md-nav label.md-nav__link,
  .md-nav .md-nav__title {
    color: var(--custom-color-primary) !important;
  }
  .md-nav--primary .md-nav .md-nav__title {
    color: var(--custom-color-secondary) !important;
    border-bottom: 2px solid var(--custom-color-primary-dark) !important;
  }
}

label.md-nav__title {
  color: var(--custom-color-secondary) !important;
}

.md-nav label {
  text-transform: uppercase;
  color: var(--custom-color-primary) !important;
  box-shadow: none !important;
  background: none !important;
}
.md-nav label:hover {
  text-transform: uppercase;
  color: var(--custom-color-tertiary) !important;
  box-shadow: none !important;
  background: none !important;
}
.md-nav__link {
  box-shadow: none !important;
  background: none !important;
}
.md-nav__item a.md-nav__link--passed {
  color: var(--custom-color-primary-dark) !important;
}

article a {
  text-transform: uppercase;
}

.md-nav__item a,
.md-tabs__item.md-tabs__item a {
  color: var(--custom-color-primary) !important;
  text-transform: uppercase;
  opacity: 1;
}
.md-nav__item a:hover,
.md-tabs__item.md-tabs__item a:hover {
  color: var(--custom-color-tertiary) !important;
}
.md-nav__item a.md-nav__link--active,
.md-tabs__item.md-tabs__item--active a {
  color: var(--custom-color-secondary) !important;
}

[data-md-type="toc"] li.md-nav__item span {
  text-transform: none !important;
}

/* media */
img {
  color: black;
}
article svg {
  width: 25px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

/* misc */

li::marker {
  color: var(--custom-color-bold);
}

.md-footer-meta {
  background-color: var(--custom-color-gradient-transparency);
}
.md-footer {
  background-color: var(--custom-color-glass);
  backdrop-filter: blur(var(--custom-color-glass-blur));
  border-top: 2px solid var(--custom-color-primary-dark);
}

/* github links */
.md-nav__source {
  background: none;
}

.md-nav__source {
  border: 0 !important;
}

.md-nav--primary .md-nav__title ~ .md-nav__list {
  box-shadow: none !important;
}
a.md-source {
  color: var(--custom-color-tertiary) !important;
  opacity: 1 !important;
}
a.md-source:hover {
  color: var(--custom-color-white) !important;
  opacity: 1 !important;
}

.md-copyright {
  color: var(--custom-color-white) !important;
}
.md-copyright a,
.md-social a {
  color: var(--custom-color-primary) !important;
}
.md-copyright a:hover,
.md-social a:hover {
  color: var(--custom-color-tertiary) !important;
}
.md-search__input {
  color: var(--custom-color-secondary) !important;
}
.md-search__input::placeholder {
  color: var(--custom-color-primary-dark) !important;
}
.md-copyright__highlight {
  color: var(--custom-color-tertiary) !important;
}
.md-source__facts {
  display: none;
}
a.md-source:hover,
a.md-source:focus {
  color: var(--custom-the-color) !important;
}

/* glightbox */
.gslide-image img {
  background: none !important;
}
.glightbox:has(img:not(.no-chip)):not(.no-border) {
  transition: var(--custom-chip-transition);
  filter: var(--custom-chip-filter);
  padding: 0;
  margin: 0;
  display: inline-block;
  background: var(--custom-chip-color);
  clip-path: var(--custom-chip-clip-outter);
}
@media screen and (max-width: 1219px) {
  .glightbox:has(img:not(.no-chip)):not(.no-border) {
    filter: none !important;
  }
}
article img:not(.no-chip):not(.no-border) {
  padding: var(--custom-chip-border-size);
  margin: 0;
  display: block !important;
  border: none !important;
  /* clip top right of img */
  clip-path: var(--custom-chip-clip-inner);
}

.glightbox:has(img:not(.no-chip)):not(.no-border):hover {
  background: var(--custom-chip-color-hover);
  position: relative;
  filter: var(--custom-chip-filter-after);
}
.glightbox:has(img:not(.no-chip)):not(.no-border) img {
  transition: var(--custom-chip-transition);
}

p:has(.glightbox):nth-of-type(even)
  .glightbox:has(img:not(.no-chip)):not(.no-border)
  img:hover {
  transform: var(--custom-chip-transform);
}
p:has(.glightbox):nth-of-type(odd)
  .glightbox:has(img:not(.no-chip)):not(.no-border)
  img:hover {
  transform: var(--custom-chip-trannsform-odd);
}

iframe:not(:fullscreen) {
  transition: var(--custom-chip-transition);
  filter: var(--custom-chip-filter);
  clip-path: var(--custom-chip-clip-inner);
}
[data-windowed_long_id_that_does_not_conflict_parent] iframe {
  transition: none !important;
  filter: none !important;
  clip-path: none !important;
}

iframe:hover {
  filter: none;
}
@media screen and (max-width: 1219px) {
  iframe {
    filter: none !important;
  }
}

.gslide-inner-content .gslide-inner-content h1,
.gslide-inner-content h2,
.gslide-inner-content h3,
.gslide-inner-content h4,
.gslide-inner-content h5,
.gslide-inner-content h6 {
  font-weight: normal !important;
  margin: 0 !important;
  padding: 0 !important;
  color: var(--custom-color-white) !important;
}

/* image slider --------------------------------------------------------------*/
a.glightbox img {
  max-height: min(475px, 45vh) !important;
}
/* parent */
p:has([data-slidebox]) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* image viewer area */
[data-slidebox] {
  align-items: center;
  background-color: var(--custom-widget-background-color);
  gap: 0.25rem;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-top: 0.5rem;
}
/* controls */
[data-slidebox] [data-control="prev"] {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
}
[data-slidebox] [data-control="next"] {
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
}
/* all descendants */
[data-slidebox] * {
  /*scroll-snap-align: start;*/
  align-items: center;
}
/* all descendants when dragging */
[data-slidebox][data-dragging="true"] * {
  /*scroll-snap-align: none;*/
  user-input: none !important;
  user-select: none !important;
  pointer-events: none !important;
}
[data-slidebox-description] {
  display: flex;
  flex-direction: column;
  /*min-height: 150px;*/
  padding: 0.5rem;
  color: var(--custom-color-gray);
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--custom-widget-background-color);
  border-bottom: 1px solid var(--custom-color-primary-disabled);
}

[data-slidebox-description] span {
  transition: all 0.3s;
  opacity: 1;
  transform: scale(1);
}
[data-slider-loaded]:has([data-dragging="true"])
  [data-slidebox-description]
  span {
  opacity: 0;
}

[data-slidebox-controls] {
  border-bottom: 1px solid var(--custom-color-primary-disabled);
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}
[data-slidebox-controls] button[data-index] {
  display: none; /* @todo */
}
[data-slidebox-controls] button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
}

[data-slidebox-controls] [data-restart-icon],
[data-slidebox-controls] [data-prev-icon],
[data-slidebox-controls] [data-next-icon] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 0.25rem;
  border: 1px solid var(--custom-color-secondary);
}
[data-slidebox-controls] [data-restart-icon] svg,
[data-slidebox-controls] [data-prev-icon] svg,
[data-slidebox-controls] [data-next-icon] svg {
  width: 12px;
  height: 12px;
  fill: var(--custom-color-secondary);
  margin: 0;
  top: 0;
}
[data-direction="next"] {
  margin-left: 2rem;
  margin-right: auto;
}

[data-slidebox-controls] [data-restart-icon] {
  transform: scaleX(-1);
}

[data-slidebox-controls] [data-prev-text],
[data-slidebox-controls] [data-next-text] {
  color: var(--custom-color-primary);
}

[data-slidebox-controls] button[data-restart-text],
[data-slidebox-controls] button [data-prev-text],
[data-slidebox-controls] button [data-next-text] {
  font-size: 0.7rem;
}

[data-slidebox-controls] button:hover [data-restart-text],
[data-slidebox-controls] button:hover [data-prev-text],
[data-slidebox-controls] button:hover [data-next-text] {
  color: var(--custom-color-tertiary);
}
[data-slidebox-controls] button:hover [data-restart-icon] svg,
[data-slidebox-controls] button:hover [data-prev-icon] svg,
[data-slidebox-controls] button:hover [data-next-icon] svg {
  fill: var(--custom-color-tertiary);
}

[data-slidebox-controls] button:hover [data-restart-icon],
[data-slidebox-controls] button:hover [data-prev-icon],
[data-slidebox-controls] button:hover [data-next-icon] {
  border-color: var(--custom-color-tertiary);
}

[data-slidebox-title] {
  font-size: 0.7rem;
  fill: var(--custom-color-secondary);
  color: var(--custom-color-white);
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

[data-slidebox] a {
  cursor: grab;
}

@media screen and (max-width: 959px) {
  h2 {
    margin-top: 3rem !important;
  }
  [align="left"],
  [align="right"] {
    display: block !important;
    margin: 0 auto !important;
    float: none !important;
  }
}
